API-XML/template.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 (http://www.altova.com)-->
<!ELEMENT root ((api+))>
<!ATTLIST  root
	product CDATA #REQUIRED
>
<!ELEMENT scene (#PCDATA)>
<!ELEMENT api ((name, apiulr, function, scene?, menuFolder, menuText, request, response))>
<!ELEMENT request ((param*))>
<!ATTLIST request
	type (GET | POST | PUT | DELETE) #REQUIRED
>
<!ELEMENT response ((item*))>
<!ATTLIST response
	type (raw | json_dict | json_list) #REQUIRED
>
<!ELEMENT remark (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT function (#PCDATA)>
<!ELEMENT apiulr (#PCDATA)>
<!ELEMENT menuFolder (#PCDATA)>
<!ELEMENT menuText (#PCDATA)>
<!ELEMENT menuTextOrder (#PCDATA)>
<!ELEMENT item ((name, remark, (item*)))>
<!ATTLIST item
	type (int | dict | list | string | bool) #REQUIRED
>
<!ELEMENT param ((paraname, paraInstruction, paradefault?))>
<!ELEMENT paraname (#PCDATA)>
<!ELEMENT paraInstruction (#PCDATA)>
<!ELEMENT paradefault (#PCDATA)>
<!ATTLIST param
	type (int | string | bool) #REQUIRED
>
<!ATTLIST param
	compulsory (true | false) #REQUIRED
>